#contato {
    margin-top: 35px;
    border-bottom: 1px solid #ffd82f;
    padding-bottom: 35px;

    h2 {
        font-family: Cinzel;
        text-transform: uppercase;
        color: #ffd82f;
    }

    span {
        margin-left: 15px;
    }

    .btn-custom {
        color: black;
        border-radius: 500px;
        -webkit-border-radius: 500px;
        -moz-border-radius: 500px;
        text-transform: uppercase;
        background: #ffd82f;
        transition: background 0.4s, color 0.4s;
        padding: 10px 20px;
    }

    .btn-custom:hover {
        background-color: black;
        color: white;
        border-color: #ffd82f;
    }

    .info {
        margin-top: 30px;
    }

}