<section id="contato">
    <div class="container">
        <div class="row">
            <div class="col-md-6">
                <h2>Vamos resolver seu problema jurídico?</h2>
                <div>
                    <form [formGroup]="contatoForm" (ngSubmit)="onSubmit()">
                        <input formControlName="nome" class="form-control form-control-lg mt-4" type="text"
                            placeholder="Digite seu nome completo">

                        <input formControlName="email" class="form-control form-control-lg mt-3" type="email" 
                            placeholder="Digite seu melhor e-mail">

                        <input formControlName="assunto" class="form-control form-control-lg mt-3" type="text" 
                            placeholder="Assunto">

                        <textarea formControlName="conteudo" class="form-control form-control-lg mt-3" type="textarea"
                            placeholder="Descreva um pouco sua questão..."></textarea>

                        <input id="btnEnvio" class="btn btn-custom mt-3" type="submit" value="Envie sua mensagem">
                    </form>
                </div>
            </div>

            <div class="col-md-6 mt-4 align-self-baseline text-light">
                <h2>Entre em contato:</h2>
                        <div class="info">
                            <svg xmlns="http://www.w3.org/2000/svg" height="40" width="40"
                                viewBox="0 0 512 512"><!--!Font Awesome Free 6.5.1 by @fontawesome - https://fontawesome.com License - https://fontawesome.com/license/free Copyright 2024 Fonticons, Inc.-->
                        <path fill="#ffd82f"
                            d="M48 64C21.5 64 0 85.5 0 112c0 15.1 7.1 29.3 19.2 38.4L236.8 313.6c11.4 8.5 27 8.5 38.4 0L492.8 150.4c12.1-9.1 19.2-23.3 19.2-38.4c0-26.5-21.5-48-48-48H48zM0 176V384c0 35.3 28.7 64 64 64H448c35.3 0 64-28.7 64-64V176L294.4 339.2c-22.8 17.1-54 17.1-76.8 0L0 176z" />
                        </svg>
                        <span>andreoliadvocacia878&#64;gmail.com</span>
                    </div>

                    <div class="mt-3">
                        <svg xmlns="http://www.w3.org/2000/svg" height="40" width="40"
                          viewBox="0 0 384 512"><!--!Font Awesome Free 6.5.1 by @fontawesome - https://fontawesome.com License - https://fontawesome.com/license/free Copyright 2024 Fonticons, Inc.-->
                          <path fill="#FFD43B"
                            d="M215.7 499.2C267 435 384 279.4 384 192C384 86 298 0 192 0S0 86 0 192c0 87.4 117 243 168.3 307.2c12.3 15.3 35.1 15.3 47.4 0zM192 128a64 64 0 1 1 0 128 64 64 0 1 1 0-128z" />
                        </svg>
                        <span>Canoinhas - Santa Catarina</span>
                      </div>
            </div>
        </div>
    </div>
</section>
