<app-login-layout></app-login-layout>
<section id="home-direito"> <!--Inicio Home-->
    <div class="container">
        <div class="row">
            <div class="col-md-12 mt-4 mr-5 d-flex justify-content-center">
                <div class="d-flex align-items-center">
                    <h1>Direito Civil</h1>
                </div>

                <div>
                    <img class="" src="img/direito-civil.svg" alt="" width="500px">
                </div>
            </div>
        </div>
    </div>
</section><!--Final Home-->

<section id="direito-civil">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <h2>Abrange</h2>

                <h3>Direito das Obrigações</h3>

                <p>
                    Regula as relações entre credores e devedores, incluindo contratos,
                    responsabilidade civil, e enriquecimento sem causa.
                </p>
        
                <h3>Direito das Coisas:</h3>
                <p>
                    Trata dos direitos de propriedade, posse e outros direitos reais sobre bens tangíveis e intangíveis.
                </p>
        
                <h3>Direito da Família:</h3>
                <p>
                    Regula as relações familiares, incluindo casamento, divórcio, guarda de incapazes, adoção e paternidade.
                </p>
        
                <h3>Direito das Sucessões:</h3>
                <p>
                    Estabelece as regras para a transferência de bens e propriedades após a morte de uma pessoa, incluindo
                    testamentos e herança.
                </p>
        
                <h3>Direito das Pessoas:</h3>
                <p>
                    Regula os direitos e deveres das pessoas físicas, incluindo capacidade jurídica, nome, domicílio, direitos
                    de personalidade e estado civil.
                </p>
            </div>
        </div>
    </div>
</section>

<app-contato></app-contato>
<app-acesso-rapido></app-acesso-rapido>
<app-rodape></app-rodape>