<app-adv-layout></app-adv-layout>
<section id="processo-advogado-component">
    <div class="container">
        <div class="row">
            <div class="col mt-4 bg-gray">
              <div class="d-flex justify-content-between align-items-center mb-4">
                <h2 class=""><i class="fas fa-solid fa-book me-2"></i>Seus Processos</h2>
                <a href="/advogado" class="btn btn-primary">
                  <i class="fas fa-arrow-left me-2"></i>Voltar
                </a>
                <a href="/cria-processo" class="btn btn-primary">
                  <i class="fas fa-plus me-2"></i>Novo Processo
                </a>
              </div>
            
              <div class="search-box">
                <div class="row">
                  <div class="col-md-6">
                    <form [formGroup]="pesquisarForm">
                    <div class="input-group">
                      <input type="text" formControlName="numeroProcesso" (keyup.enter)="buscarProcesso()" class="form-control" placeholder="Pesquisar cpf...">
                      <button (click)="buscarProcesso()" class="btn btn-primary">
                        <i class="fas fa-search"></i>
                      </button>
                    </div>
                  </form>
                  </div>
              
                  <!-- <div class="col-md-6">
                    <div class="filters">
                      <div class="btn-group" role="group">
                        <button class="btn btn-outline-primary active">Todas</button>
                        <button class="btn btn-outline-primary">Inicial</button>
                        <button class="btn btn-outline-primary">Conclusao Julgamento</button>
                        <button class="btn btn-outline-primary">Sentenciado</button>
                        <button class="btn btn-outline-primary">Transito Julgado</button>
                        <button class="btn btn-outline-primary">Em Recurso</button>
                      </div>
                    </div>
                  </div> -->
                </div>
              </div>

                <div class="mt-3">
                  <div class="list-group">
                    @for (processo of processos; track $index) {
                        <a (click)="exibirDetalhesDoProcesso(processo.numeroProcesso)" class="list-group-item list-group-item-action">Número do Processo: {{ processo.numeroProcesso }}</a>
                    }   
                  </div>

                      <!-- Paginação -->
        <nav class="mt-3" aria-label="Page navigation">
          <ul class="pagination">
          <li class="page-item" [class.disabled]="currentPage === 0">
              <button class="page-link" (click)="mudarPagina(currentPage - 1)" [disabled]="currentPage === 0">
              Anterior
              </button>
          </li>
          
          @for (page of [].constructor(totalPages); track $index) {
              <li class="page-item" [class.active]="currentPage === $index">
              <button class="page-link" (click)="mudarPagina($index)">
                  {{$index + 1}}
              </button>
              </li>
          }
          
          <li class="page-item" [class.disabled]="currentPage === totalPages - 1">
              <button class="page-link" (click)="mudarPagina(currentPage + 1)" [disabled]="currentPage === totalPages - 1">
              Próxima
              </button>
          </li>
          </ul>
      </nav>
                </div>
            
            </div>
        </div>
    </div>
</section>
