.link {
    text-decoration: none;
    color: white;
}

.link:hover {
    text-decoration: none;
    color: #ffd82f;
}

.card {
    background-color: #1e1e11;
    border: #ffd82f 1px solid;
}

.bg-gray {
    background-color: #1E1E1E;
    padding: 20px;
    border-radius: 20px;
}