.bg-gray {
    background-color: #1E1E1E;
    color: white;
    padding: 20px;
    border-radius: 20px;
}

.text-muted {
    color: 	#DCDCDC !important;
}

h6 {
    font-size: large !important;
}

.box-titulo {
    h2 {
        margin-left: 10px;
    }
}

.btn-return {
    width: 35px;
    height: 35px;
    border-radius: 50px;
}

.box-usuario {
    font-size: smaller;
}

.box-informacoes {
    margin-top: 10px;
}

.informacoes {
    margin-left: 20px;
}

.box-opcoes {
    margin-left: 20px;
}

.box-botao {
    width: 100px;
    height: 50px;
    margin-left: 20px;
}