<app-login-layout></app-login-layout>
<section id="home-direito"> <!--Inicio Home-->
    <div class="container">
        <div class="row">
            <div class="col-md-12 mt-4 mr-5 d-flex justify-content-center">
                <div class="d-flex align-items-center">
                    <h1>Direito Do Trabalho</h1>
                </div>

                <div>
                    <img class="" src="img/direito-trabalho.svg" alt="" width="500px">
                </div>
            </div>
        </div>
    </div>
</section><!--Final Home-->

<section id="direito-trabalho">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <h2>Abrange</h2>

                <h3>Contratos de Trabalho:</h3>
                <p>
                    Regras e regulamentos relacionados à formação, execução e término de contratos de trabalho entre
                    empregadores e funcionários.
                </p>

                <h3>Direito Sindicais:</h3>
                <p>
                    Legislação que regula a formação, funcionamento e atividades de sindicatos, bem como as relações entre
                    empregadores, sindicatos e trabalhadores.
                </p>

                <h3>Negociação Coletiva:</h3>
                <p>
                    Regras que governam as negociações entre empregadores e sindicatos em relação a condições de trabalho,
                    salários e outros assuntos relacionados ao emprego.
                </p>

                <h3>Segurança e Saúde no Trabalho:</h3>
                <p>
                    Regulamentações que visam proteger os trabalhadores contra lesões, doenças ocupacionais e outros riscos à
                    saúde e segurança no ambiente de trabalho.
                </p>

                <h3>Remediação de Conflitos:</h3>
                <p>
                    Mecanismos legais para a resolução de disputas entre empregadores e funcionários, incluindo arbitragem,
                    mediação e processos judiciais.
                </p>
            </div>
        </div>
    </div>
</section>

<app-contato></app-contato>
<app-rodape></app-rodape>