.btn-warning {
    text-transform: uppercase;
}

.btn-warning:hover {
    background-color: black;
    color: white;
}

.bg-gray {
    background-color: #D9D9D9;
}

.tabelaTitulo {
    background-color: #D9D9D9;
}

.tabelaUsuario {
    color: black;
    border: 1px solid white;
    background-color: antiquewhite;
    padding: 4px;
}

.box-botoes {
    margin-top: 50px;
}