<app-admin-layout></app-admin-layout>
<section>
    <div class="container">
        <div class="row">
            <div class="col-md-8 mt-3">
                <div class="usuario-container text-light">
                    <h2>Lista de Usuários</h2>
                    <div class="input-group" style="max-width: 300px;">
                        <form [formGroup]="pesquisarForm">
                            <input 
                                type="text" 
                                class="form-control" 
                                placeholder="Pesquisar username..." 
                                (keyup.enter)="buscarUsuario()"
                                formControlName="username"
                            />
                        </form>
              <button class="btn btn-primary" (click)="buscarUsuario()">Buscar</button>
                    </div>
                    
                    @if (loading) {
                        <div class="loading">
                            Carregando usuários...
                        </div>
                    }
                    
                    @if (error != '') {
                        <div class="error">
                            {{ error }}
                        </div>
                    }
              
                    @if (!loading && !error) {
                        <table border="1" class="tabelaUsuario mt-3">
                            <thead>
                              <tr class="tabelaTitulo">
                                <th>ID</th>
                                <th>Email</th>
                                <th>Nome</th>
                                <th>Status</th>
                                <th>Tipo</th>
                                <th>Opções</th>
                              </tr>
                            </thead>
                            <tbody>
                                @for (usuario of usuarios; track $index) {
                                    <tr class="tabelaUsuario">
                                        <td class="tabelaUsuario">{{usuario.id}}</td>
                                        <td class="tabelaUsuario">{{usuario.username}}</td>
                                        <td class="tabelaUsuario">{{usuario.name}}</td>
                                        <td class="tabelaUsuario">{{usuario.status}}</td>
                                        <td class="tabelaUsuario">{{usuario.tipoUsuario.descricao}}</td>
                                        <td class="tabelaBotoes">
                                          <button (click)="editarUsuario(usuario)" class="btn btn-primary btn-sm">Editar</button>
                                          <button (click)="excluirUsuario(usuario)" class="btn btn-danger btn-sm">Excluir</button>
                                        </td>
                                      </tr>
                                }
                            </tbody>
                          </table>
                    }
                    
                    @if (!loading && usuarios.length === 0) {
                        <div class="no-data">
                            Nenhum usuário encontrado.
                          </div>
                    }
                    
                  </div>
            </div>

            <div class="col-md-4 box-botoes">
                
                <div class="mt-3"><a type="button" href="/criar-usuario" class="btn btn-warning">Criar Usuário</a></div>               
                
            </div>
        </div>
    </div>
</section>
