<app-cliente-layout></app-cliente-layout>
<section id="cliente-component">
    <div class="container">
        <div class="row">
            <div class="col mt-3 bg-gray">
                <h2>Bem Vindo {{ name }}!</h2>

                <h4 class="mt-2">Acompanhe seus processos:</h4>

                <div class="lista-processos">
                    <div class="list-group">
                        <a href="#" class="list-group-item list-group-item-action">Processo: 1</a>
                        <a href="#" class="list-group-item list-group-item-action">Processo: 2</a>
                        <a href="#" class="list-group-item list-group-item-action">Processo: 3</a>
                    </div>

                    <nav aria-label="...">
                        <ul class="pagination pagination-sm mt-3">
                          <li class="page-item active" aria-current="page">
                            <span class="page-link">1</span>
                          </li>
                          <li class="page-item"><a class="page-link" href="#">2</a></li>
                          <li class="page-item"><a class="page-link" href="#">3</a></li>
                        </ul>
                      </nav>

                      <div class="mt-3">
                        <button class="btn btn-warning btn-sm">Adicionar Novo Processo</button>
                    </div>
                </div>

            </div>
        </div>
    </div>
</section>
