<app-cliente-layout></app-cliente-layout>
<section id="cliente-component">
    <div class="container">
        <div class="row">
            <div class="col mt-3 bg-gray">
                <h2>Bem Vindo {{ name }}!</h2>

                <h4 class="mt-2">Acompanhe seus processos:</h4>

                <div class="lista-processos">
                    <div class="list-group">
                        <a href="#" class="list-group-item list-group-item-action">Processo: 1</a>
                      </div>
                </div>

            </div>
        </div>
    </div>
</section>
