.bg-primary {
    background-color: #ffd82f !important;
    color: black !important;
}

.btn-primary {
    background-color: #ffd82f;
    border-color: #ffd82f;
    color: black;
}

.btn-primary:hover {
    background-color: black;
    color: white;
}

.card {
    background-color: #1e1e1e;
    color: white;
}

.mat-label {
    color: black;
}

.mdc-text-field__input {
    color: white !important;
}

mat-label {
    color: white !important;
}