<app-default-layout></app-default-layout>

<section id="login">
    <div class="container">
        <div class="row mt-5">
            <div id="formulario_login" class="col-md-6 p-3">
                <div>
                    <h2 class="mb-3">Login</h2>
                </div>
                <form [formGroup]="loginForm">
                    <div>
                      <label for="exampleInputEmail1" class="form-label">Email</label>
                      <input type="email" class="form-control" id="exampleInputEmail1" placeholder="exemplo@email.com" aria-describedby="emailHelp">
                    </div>
                    <div class="mb-3">
                      <label for="exampleInputPassword1" class="form-label">Senha</label>
                      <input type="password" placeholder="Entre com sua senha" class="form-control" id="exampleInputPassword1">
                    </div>
                    <div class="d-grid gap-2">
                        <button type="submit" class="btn btn-warning">Logar</button>
                    </div>
                  </form>
            </div>
            <div class="col-md-6">
                <img src="/img/logo.svg" class="rounded mx-auto d-block" width="400" height="400" alt="">
            </div>
        </div>
    </div>
</section>
