<app-login-layout></app-login-layout>

<section id="login">
    <div class="container">
        <div class="row mt-5">
            <div id="formulario_login" class="col-md-6 p-3">
                <div>
                    <h2 class="mb-3">Login</h2>
                </div>
                <form [formGroup]="loginForm">
                    <div>
                      <label for="exampleInputEmail1" class="form-label">Email</label>
                      <input type="email" class="form-control mb-2" id="exampleInputEmail1" placeholder="exemplo@email.com" aria-describedby="emailHelp" formControlName="userName">
                    </div>
                    <div class="mb-3">
                      <label for="exampleInputPassword1" class="form-label">Senha</label>
                      <input type="password" placeholder="Entre com sua senha" class="form-control mb-2" id="exampleInputPassword1" formControlName="password">
                    </div>
                    <div class="d-grid gap-2">
                        <button type="submit" class="btn btn-warning" (click)="onSubmit()">Logar</button>
                    </div>
                  </form>
            </div>
            <div class="col-md-6">
                <img src="/img/logo.svg" class="rounded mx-auto d-block" width="400" height="400" alt="">
            </div>
        </div>
        <div style="border-top: 1px solid #ffd82f" class="row pt-3">
            <div class="col-md-12 titulo">
                <h2 class="text-dourado">Não é nosso cliente?</h2>
                <h4 class="text-dourado">Entre em contato:</h4>
            </div>
        </div>
    </div>
</section>
<app-contato></app-contato>
