<app-login-layout></app-login-layout>
<section id="home-direito"> <!--Inicio Home-->
    <div class="container">
        <div class="row">
            <div class="col-md-12 mt-4 mr-5 d-flex justify-content-center">
                <div class="d-flex align-items-center">
                    <h1>Direito Previdenciário</h1>
                </div>

                <div>
                    <img class="" src="img/direito-previ.svg" alt="" width="500px">
                </div>
            </div>
        </div>
    </div>
</section><!--Final Home-->

<section id="direito-previ">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <h2>Abrange</h2>

                <h3>Benefícios:</h3>
                <p>
                    Benefícios e assistências feitas pelo INSS aos segurados e assistidos tais como. Aposentadorias 
                    (por idade , invalidez, especial, etc),. Auxílio doença. Pensão por morte. BPC /LOAS (benefício prestação continuada) e Auxílio Reclusão.
                </p>
            </div>
        </div>
    </div>
</section>

<app-contato></app-contato>
<app-rodape></app-rodape>