<section id="atuacao">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <h1>Áreas de Atuação</h1>
            </div>
            <div class="col-md-6 d-flex justify-content-center">
                <img src="img/atuacao.svg" width="400px" alt="">
            </div>
            <div class="col-md-6 mt-4 d-flex flex-column align-items-start">
                <div class="pd-3"><a class="link" href="">Direito Civil</a></div>
                <div class="pd-3"><a class="link" href="">Direito do Trabalho</a></div>
                <div class="pd-3"><a class="link" href="">Direito Previdenciário</a></div>
                <div class="pd-3"><a class="link" href="">Direito do Consumidor</a></div>
            </div>
        </div>
    </div>
</section>
