#menu {
    height: 100%;
    width: 100%;
    background-color: black;
    font-family: Cinzel;
    text-transform: uppercase;
}

#h2-menu {
    font-size: 1.5rem;
}

.text-adv {
    color: #C5A00E;
}

.nav-link.active {
    color: #C5A00E;
}