#menu {
    height: 100%;
    width: 100%;
    background-color: black;
    font-family: Cinzel;
    text-transform: uppercase;

    h2 {
        font-size: 1.5rem;
    }

    .btn-warning {
        margin-left: 30px;
        background-color: #C5A00E;
        border-color: #C5A00E;
    }

}

.text-adv {
    color: #C5A00E;
}

.nav-link.active {
    color: #C5A00E;
    margin-left: 30px;
}