#profissional {
    margin-top: 35px;
    border-bottom: 1px solid #ffd82f;
    padding-bottom: 35px;

    h2 {
        color: #ffd82f;
        text-transform: uppercase;
        font-family: Cinzel;
    }

    p {
        color: white;
        margin-top: 25px;
        text-align: justify;
    }

    .text-dourado {
        color: #ffd82f;
    }

    .img {
        width: 300px;
        border-radius: 200px;
        box-shadow: 5px 3px 50px #ffd82f;
    }

}