<section id="profissional">
    <div class="container">
        <div class="row">
            <div class="col-md-6">
                <h2>a profissional</h2>
                <p>
                    Graduada em Direito e pós Graduada em Direito Processual
                    Civil, Dra. Angela Andreoli, tem mais de dezoito anos de 
                    experiência atuando com excelência e paixão no desenvolvimento
                    de suas atividades juridicas, objetivando sempre a melhor <span class="text-dourado">JUSTIÇA</span>.
                  </p>
                  <p>
                    A especialização no ramo de Processo Civil, aliado a seu 
                    vasto conhecimento a torna uma ótima escolha a quem necessita
                    de serviços juridicos no ambito do Direito Civil (família, posse 
                    e propriedade, sucessões, contratos responsabilidade civil, etc).
                  </p>
                  <p>
                    A paixão pelo Direito, em especial família, é o combustível
                    que a move para atuar com maestria desde o atendimento inicial
                    por meio das consultas até entrega final de seus serviços, seja extra ou 
                    judicialmente.
                  </p>
                  <p>
                    Atuando na Advocacia Consultiva (consultoria juridica), seus atendimentos
                    de forma personalizada e simples, evitando "juridiques" desnecessários 
                    tornando a consulta leve e tranquila, porém, muito proveitosa e 
                    clara, tendo o cliente a sensação de conversar com uma amiga.
                  </p>
                  <p>
                    Na Advocacia Contenciosa é comprometida com os Princípios Constitucionais
                    agindo com competência, dedicação e muito profissionalismo, mas principalmente com ética.
                  </p>
                  <p>
                    A longa tragetória jurídica e a eficiência dos seus serviços a qualifica
                    para que o cliente possa estar seguro na contratação de seu trabalho.
                  </p>
            </div>

            <div class="col-md-6 d-flex align-items-center">
                <img class="img mx-auto d-block" src="img/profissional.jpg" alt="">
            </div>
        </div>
    </div>
</section>