<app-adv-layout></app-adv-layout>

<section>
    <div class="container">
        <div class="row">
            <div class="col mt-3 text-light">
                <h2>Informações do Cliente:</h2>
            
                <div>
                    <div>Nome:</div>
                    <div style="margin-left: 20px;">{{ cliente.nome }}</div>
                </div>
                <div>
                    <span>Email:</span>
                    <div style="margin-left: 20px;">{{ cliente.email }}</div>
                </div>
                <div>
                    <span>CPF:</span>
                    <div style="margin-left: 20px;">{{ cliente.cpf }}</div>
                </div>
                <div>
                    <span>RG:</span>
                    <div style="margin-left: 20px;">{{ cliente.rg }}</div>
                </div>
                <div>
                    <span>Telefone:</span>
                    <div style="margin-left: 20px;">{{ cliente.telefone }}</div>
                </div>
                <div>
                    <span>Endereço:</span>
                    <div style="margin-left: 20px;">{{ cliente.endereco }}</div>
                </div>
                <div>
                    <span>Nome do Pai:</span>
                    <div style="margin-left: 20px;">{{ cliente.nome_pai }}</div>
                </div>
                <div>
                    <span>Nome da Mãe:</span>
                    <div style="margin-left: 20px;">{{ cliente.nome_mae }}</div>
                </div>
                <div>
                    <span>CTPS:</span>
                    <div style="margin-left: 20px;">{{ cliente.ctps }}</div>
                </div>
                <div>
                    <span>CNH:</span>
                    <div style="margin-left: 20px;">{{ cliente.cnh }}</div>
                </div>
                <div>
                    <span>Data de Nascimento:</span>
                    <div style="margin-left: 20px;">{{ cliente.data_nascimento }}</div>
                </div>
                <div>
                    <span>Usuário do Sistema:</span>
                    <div style="margin-left: 20px;">{{ cliente.usuario }}</div>
                </div>

            </div>
        </div>
    </div>
</section>