<app-login-layout></app-login-layout>
<section id="home-direito"> <!--Inicio Home-->
    <div class="container">
        <div class="row">
            <div class="col-md-12 mt-4 mr-5 d-flex justify-content-center">
                <div class="d-flex align-items-center">
                    <h1>Direito Do Consumidor</h1>
                </div>

                <div>
                    <img class="" src="img/direito-consumidor.svg" alt="" width="500px">
                </div>
            </div>
        </div>
    </div>
</section><!--Final Home-->

<section id="direito-consumidor">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <h2>Abrange</h2>
                <p>
                  Regulação de relações do fornecedor de produtos e/ou serviços e consumidor final. Defesa do consumidor nos seus direitos a informação, segurança, escolha, reparação etc
                </p>
            </div>
        </div>
    </div>
</section>

<app-contato></app-contato>
<app-acesso-rapido></app-acesso-rapido>
<app-rodape></app-rodape>