<app-default-layout></app-default-layout>
<section id="home">
    <div class="conatiner mt-4 bg-preto text-light">
        <div class="row">
            <div class="col-md-6 align-self-center">
                <h2 class="text-dourado">Angela Andreoli</h2>
                <h1>Com anos de experiência garantindo a qualidade
                    e o atendimento diferenciado ao cliente.
                </h1>
                <p class="text-dourado">
                    Especialista em Processo Civil.
                </p>
            </div>
            <div class="col-md-6">
                <img src="img/logo.svg" class="rounded mx-auto d-block" alt="" width="400px">
            </div>
        </div>
    </div>
</section>
<app-profissional></app-profissional>
<app-atuacao></app-atuacao>
<app-contato></app-contato>
<app-acesso-rapido></app-acesso-rapido>
<app-rodape></app-rodape>